@import '../assets/fonts.css';
@import '../assets/animation.css';

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #6f62c2;
    font-family: 'Montserrat', sans-serif;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    margin: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    margin-block-start: 0;
    margin-block-end: 0;
}

.line-throught {
    text-decoration: line-through;
}
.todos-wrapper {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

  .pagination-container {
    display: flex;

    column-gap: 10px;
  }

  .paginate-buttons {
    height: 40px;

    width: 40px;

    border-radius: 20px;

    cursor: pointer;

    background-color: rgb(242, 242, 242);

    border: 1px solid rgb(217, 217, 217);

    color: black;
  }

  .paginate-buttons:hover {
    background-color: #d8d8d8;
  }

  .active-page {
    background-color: #3498db;

    border: 1px solid #3498db;

    color: white;
  }

  .active-page:hover {
    background-color: #2988c8;
  }

@media screen and (min-width: 360px) {
    main {
        padding: 2rem;
        height: auto;
    }
}

@media screen and (min-width: 768px) {
    main {
        padding: 0;
        height: 100vh;
    }
}
